@font-face {
  font-family: 'HammersmithOneRegular';
  src: url("./fonts/HammersmithOne-webfont.eot");
  src: url("./fonts/HammersmithOne-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/HammersmithOne-webfont.woff") format("woff"), url("./fonts/HammersmithOne-webfont.ttf") format("truetype"), url("./fonts/HammersmithOne-webfont.svg#HammersmithOneRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background-image: url("../img/Background/linen_bg_repeat.png");
  background-repeat: repeat;
  margin: 0;
  font: 14pt 'HammersmithOneRegular', Arial, sans-serif;
  color: #bbb;
  min-height: 500px;
  min-width: 700px; }

#content {
  padding: 20px;
  width: 660px;
  margin: 0 auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px #222;
  background: #1c1c1c;
  background: -moz-linear-gradient(top, #1c1c1c 0%, #2e2f30 50%, #1c1c1c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1c1c1c), color-stop(50%, #2e2f30), color-stop(100%, #1c1c1c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1c1c1c 0%, #2e2f30 50%, #1c1c1c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1c1c1c 0%, #2e2f30 50%, #1c1c1c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1c1c1c 0%, #2e2f30 50%, #1c1c1c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1c1c1c 0%, #2e2f30 50%, #1c1c1c 100%);
  /* W3C */ }
  #content #wrapper {
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    box-shadow: inset 4px 4px 100px rgba(0, 0, 0, 0.2);
    border-radius: 4px; }

article.album {
  height: 100px;
  padding: 20px 40px;
  border-bottom: 1px solid #444; }
  article.album:last-child {
    border: none; }
  article.album header {
    max-width: 300px;
    float: left;
    margin: 0;
    height: 100px; }
    article.album header h1 {
      margin: 0 auto 10px;
      padding-top: 10px;
      color: #888; }
    article.album header p {
      margin: 0;
      text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.2); }
  article.album img {
    float: right;
    margin-right: 60px;
    height: 100px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
  article.album div {
    float: right; }
    article.album div a {
      color: #F79C0A;
      margin-top: 18px;
      display: block; }
    article.album div a:last-child {
      color: red; }
    article.album div a, article.album div a:hover, article.album div a:visited {
      text-decoration: none; }

#wrapper > p {
  text-align: center; }
  #wrapper > p a, #wrapper > p a:hover, #wrapper > p a:visited {
    color: #F79C0A;
    text-decoration: none; }

footer {
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 8px;
  background-color: #1c1c1c;
  position: absolute;
  width: 100%;
  bottom: 0px;
  width: 100%;
  font-size: 10pt;
  height: 25px;
  color: #777;
  text-align: center;
  margin-top: 20px; }
