$navbar_height: 40px;
$footer_height: 25px;

$article_height: 100px;
$padding_vertical: 20px;
$padding_side: 40px;


@font-face {
    font-family: 'HammersmithOneRegular';
    src: url('./fonts/HammersmithOne-webfont.eot');
    src: url('./fonts/HammersmithOne-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/HammersmithOne-webfont.woff') format('woff'),
         url('./fonts/HammersmithOne-webfont.ttf') format('truetype'),
         url('./fonts/HammersmithOne-webfont.svg#HammersmithOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  background-image: url("../img/Background/linen_bg_repeat.png");
  background-repeat: repeat;
  margin:0;
  font: 14pt 'HammersmithOneRegular', Arial, sans-serif;
  color:#bbb;
  min-height: 500px;
  min-width: 700px;
}

#content {
  
  #wrapper {
    overflow:hidden;
    overflow-y: scroll;
    height: 100%;
    box-shadow: inset 4px 4px 100px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  padding: 20px;
  width: 660px;
  margin: 0 auto; 
  
  
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  
  box-shadow: 2px 2px 5px #222;
  
  background: #1c1c1c;
  background: -moz-linear-gradient(top,  #1c1c1c 0%, #2e2f30 50%, #1c1c1c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c1c1c), color-stop(50%,#2e2f30), color-stop(100%,#1c1c1c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1c1c1c 0%,#2e2f30 50%,#1c1c1c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1c1c1c 0%,#2e2f30 50%,#1c1c1c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1c1c1c 0%,#2e2f30 50%,#1c1c1c 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1c1c1c 0%,#2e2f30 50%,#1c1c1c 100%); /* W3C */
   
}


article.album {
  height: $article_height;
  padding: $padding_vertical $padding_side;
  border-bottom: 1px solid #444;
  
  &:last-child {
    border: none;
  }
  
  header {
    max-width: 300px;
    float: left;
    margin: 0;
    height: $article_height;
    h1 {
      margin: 0 auto 10px;
      padding-top: 10px;
      color: #888;
    }
    p {
      margin: 0;
      text-shadow: 1px 1px 5px rgba(255,255,255,0.2);
    }
  }
  
  img {
    float: right;
    margin-right: ($padding_side + 20);
    height: $article_height;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  
  div {
    float: right;
    a {
      color:#F79C0A;
      margin-top: 18px;
      display: block;
    }
    
    a:last-child {
      color: red;
    }
    
    a, a:hover, a:visited {
      text-decoration: none;
    }
  }
}

#wrapper > p {
  text-align: center;
  a, a:hover, a:visited {
      color:#F79C0A;
      text-decoration: none;
    }
}

footer {
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  padding-top: 8px;
  background-color: #1c1c1c;
  position: absolute;
  width: 100%;
  bottom: 0px;
  width: 100%;
  font-size: 10pt;
  height: $footer_height;
  color: #777;
  text-align: center;
  margin-top: 20px;
}


