#tools_bottom {
  a, a:visited, a:hover {
    display: block;
    float: left;
    margin-top: 3px;
    padding: 0 2px;
    width: 39px;
    height: 39px;
    border-right: 1px solid #444;
    &:first-child {
      margin-left: 14px;
      border-left: 1px solid #444;
    }
    &:nth-child(11) {
      margin-left: 100px;
      border-left: 1px solid #444;
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
  
  a:hover {
    background-color: #222;
  }
}
