#tools_bottom a, #tools_bottom a:visited, #tools_bottom a:hover {
  display: block;
  float: left;
  margin-top: 3px;
  padding: 0 2px;
  width: 39px;
  height: 39px;
  border-right: 1px solid #444; }
  #tools_bottom a:first-child, #tools_bottom a:visited:first-child, #tools_bottom a:hover:first-child {
    margin-left: 14px;
    border-left: 1px solid #444; }
  #tools_bottom a:nth-child(11), #tools_bottom a:visited:nth-child(11), #tools_bottom a:hover:nth-child(11) {
    margin-left: 100px;
    border-left: 1px solid #444; }
  #tools_bottom a img, #tools_bottom a:visited img, #tools_bottom a:hover img {
    height: 100%;
    width: 100%; }
#tools_bottom a:hover {
  background-color: #222; }
