@import url("./right_tb.css");
@import url("./left_tb.css");
@import url("./bottom_tb.css");
@font-face {
  font-family: 'HammersmithOneRegular';
  src: url("./fonts/HammersmithOne-webfont.eot");
  src: url("./fonts/HammersmithOne-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/HammersmithOne-webfont.woff") format("woff"), url("./fonts/HammersmithOne-webfont.ttf") format("truetype"), url("./fonts/HammersmithOne-webfont.svg#HammersmithOneRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'JennaSueRegular';
  src: url("./fonts/JennaSue-webfont.eot");
  src: url("./fonts/JennaSue-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/JennaSue-webfont.woff") format("woff"), url("./fonts/JennaSue-webfont.ttf") format("truetype"), url("./fonts/JennaSue-webfont.svg#JennaSueRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background-image: url("../img/Background/linen_bg_repeat.png");
  background-repeat: repeat;
  min-width: 700px;
  margin: 0; }

#album_page {
  z-index: -10;
  position: absolute;
  width: 700px;
  height: 600px;
  box-shadow: 2px 2px 5px #222;
  background: #1c1c1c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1c1c1c 0%, #2e2f30 50%, #1c1c1c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1c1c1c), color-stop(50%, #2e2f30), color-stop(100%, #1c1c1c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1c1c1c 0%, #2e2f30 50%, #1c1c1c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1c1c1c 0%, #2e2f30 50%, #1c1c1c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1c1c1c 0%, #2e2f30 50%, #1c1c1c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1c1c1c 0%, #2e2f30 50%, #1c1c1c 100%);
  /* W3C */ }
  #album_page p {
    z-index: -9;
    position: absolute;
    top: 220px;
    width: 100%;
    text-align: center;
    color: #bbb;
    font: 16pt/40pt "HammersmithOneRegular", Arial, sans-serif; }

#album_canvas {
  width: 700px;
  height: 600px;
  cursor: default; }

.tools {
  position: absolute;
  background-color: #1c1c1c;
  box-shadow: 2px 2px 5px #222; }

.collapsed_tools {
  position: absolute;
  background-color: #1c1c1c;
  display: none;
  box-shadow: 2px 2px 5px #222; }

#tools_left, #tools_right {
  top: 60px;
  height: 600px; }

#collapsed_left, #collapsed_right {
  top: 60px;
  width: 30px;
  height: 600px; }

#tools_left, #collapsed_left {
  left: 0;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

#tools_left {
  width: 150px; }

#tools_right, #collapsed_right {
  right: 0;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

#tools_right {
  z-index: 10;
  width: 250px;
  background: #1c1c1c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1c1c1c 22%, #2e2f30 58%, #1c1c1c 95%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #1c1c1c), color-stop(58%, #2e2f30), color-stop(95%, #1c1c1c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1c1c1c 22%, #2e2f30 58%, #1c1c1c 95%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1c1c1c 22%, #2e2f30 58%, #1c1c1c 95%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1c1c1c 22%, #2e2f30 58%, #1c1c1c 95%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1c1c1c 22%, #2e2f30 58%, #1c1c1c 95%);
  /* W3C */ }

#tools_bottom {
  height: 45px; }

#collapsed_bottom {
  height: 30px; }

#tools_bottom, #collapsed_bottom {
  bottom: 0px;
  width: 700px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px; }

@media (max-width: 1140px) {
  #tools_left, #tools_right {
    display: none; }

  #collapsed_left, #collapsed_right {
    display: block; } }
/*Popup styling*/
.popupControls {
  color: white;
  padding: 10px 0px 10px 0px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
  width: 696px;
  min-height: 50px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px; }
  .popupControls .hint {
    font-size: 0.8em; }

.colorField div {
  width: 30px;
  height: 30px;
  margin: auto;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

#captionFontSelection label {
  color: white; }

#captionFontSelection label:nth-child(2) {
  font-family: 'sans-serif'; }

#captionFontSelection label:nth-child(4) {
  font-family: 'JennaSueRegular'; }
