$body_width:700px;
$canvas_dim:600px;
$canvas_width:700px;

$side_toolbars_width: 250px;
$left_toolbar_width:150px;

$collapsed_dim:30px;
$bottom_toolbar_height: 45px;
$collapse_width: $canvas_dim + 2*$side_toolbars_width + 2*20;

$bg_toolbars: #1c1c1c;


@font-face {
    font-family: 'HammersmithOneRegular';
    src: url('./fonts/HammersmithOne-webfont.eot');
    src: url('./fonts/HammersmithOne-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/HammersmithOne-webfont.woff') format('woff'),
         url('./fonts/HammersmithOne-webfont.ttf') format('truetype'),
         url('./fonts/HammersmithOne-webfont.svg#HammersmithOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'JennaSueRegular';
    src: url('./fonts/JennaSue-webfont.eot');
    src: url('./fonts/JennaSue-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/JennaSue-webfont.woff') format('woff'),
         url('./fonts/JennaSue-webfont.ttf') format('truetype'),
         url('./fonts/JennaSue-webfont.svg#JennaSueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
  background-image: url("../img/Background/linen_bg_repeat.png");
  background-repeat: repeat;
  min-width: $body_width;
  margin:0;
}

#album_page {
  z-index: -10;
  p {
    z-index: -9;
    position: absolute;
    top:220px;
    width:100%;
    text-align: center;
    color: #bbb;
    font: 16pt/40pt 'HammersmithOneRegular', Arial, sans-serif;   
  }

  position:absolute;
  width: $canvas_width;
  height: $canvas_dim;
  box-shadow: 2px 2px 5px #222;
  background: $bg_toolbars; /* Old browsers */
  background: -moz-linear-gradient(top,  #1c1c1c 0%, #2e2f30 50%, #1c1c1c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c1c1c), color-stop(50%,#2e2f30), color-stop(100%,#1c1c1c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1c1c1c 0%,#2e2f30 50%,#1c1c1c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1c1c1c 0%,#2e2f30 50%,#1c1c1c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1c1c1c 0%,#2e2f30 50%,#1c1c1c 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1c1c1c 0%,#2e2f30 50%,#1c1c1c 100%); /* W3C */
}

#album_canvas {
  width:$canvas_width;
  height:$canvas_dim;
  cursor:default;
}

.tools {
  position:absolute;
  background-color:$bg_toolbars;
  box-shadow: 2px 2px 5px #222;
}
.collapsed_tools {
  position:absolute;
  background-color:$bg_toolbars;
  display:none;
  box-shadow: 2px 2px 5px #222;
}

#tools_left, #tools_right {
  top:60px;
  height:$canvas_dim;
}
#collapsed_left, #collapsed_right {
  top: 60px;
  width:$collapsed_dim;
  height:$canvas_dim;
}

#tools_left, #collapsed_left {
  left:0;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#tools_left {
  width:$left_toolbar_width;
}

#tools_right, #collapsed_right {
  right:0;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#tools_right {
  z-index:10;
  width:$side_toolbars_width;
  background: $bg_toolbars; /* Old browsers */
  background: -moz-linear-gradient(top,  #1c1c1c 22%, #2e2f30 58%, #1c1c1c 95%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(22%,#1c1c1c), color-stop(58%,#2e2f30), color-stop(95%,#1c1c1c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1c1c1c 22%,#2e2f30 58%,#1c1c1c 95%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1c1c1c 22%,#2e2f30 58%,#1c1c1c 95%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1c1c1c 22%,#2e2f30 58%,#1c1c1c 95%); /* IE10+ */
  background: linear-gradient(to bottom,  #1c1c1c 22%,#2e2f30 58%,#1c1c1c 95%); /* W3C */
}

#tools_bottom {
  height: $bottom_toolbar_height;
}
#collapsed_bottom {
  height: $collapsed_dim;
}
#tools_bottom, #collapsed_bottom {
  bottom:0px;
  width: $canvas_width;

  -webkit-border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

@media (max-width: $collapse_width) {
  #tools_left, #tools_right {
    display:none;
  }
  
  #collapsed_left, #collapsed_right {
    display:block;
  }
}

/*Popup styling*/
.popupControls {
  color:white;
  padding:10px 0px 10px 0px;
  background-color: rgba(0,0,0,0.4);
  margin:auto;
  width:$canvas_width - 4;
  min-height:50px;
  text-align:center;
  border-style:solid;
  border-width:2px;
  border-color:white;
 -webkit-border-radius: 0px 0px 10px 10px;
        border-radius: 0px 0px 10px 10px;
        
        .hint{
          font-size:0.8em;
        }
}
.colorField div{
  width:30px;
  height:30px;
  margin:auto;
  border-style:solid;
  border-width:2px;
  border-color:white;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#captionFontSelection label{
  color:white;
}
#captionFontSelection label:nth-child(2){
  font-family: 'sans-serif';
}
#captionFontSelection label:nth-child(4){
  font-family: 'JennaSueRegular';
}

@import url("./right_tb.css");
@import url("./left_tb.css");
@import url("./bottom_tb.css");