@font-face {
    font-family: 'HammersmithOneRegular';
    src: url('./fonts/HammersmithOne-webfont.eot');
    src: url('./fonts/HammersmithOne-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/HammersmithOne-webfont.woff') format('woff'),
         url('./fonts/HammersmithOne-webfont.ttf') format('truetype'),
         url('./fonts/HammersmithOne-webfont.svg#HammersmithOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
  height:100%;
}

body {
  background-image: url("../img/Background/linen_bg_repeat.png");
  background-repeat: repeat;
  margin:0;
  font: 14pt 'HammersmithOneRegular', Arial, sans-serif;
  color:#bbb;
  text-align:center;
  height: 100%;
}

section {
  width: 700px;
  min-height:100%;
  height: auto !important;
  height:100%;
  margin: 0 auto -20px; 
  
  box-shadow: 2px 2px 5px #222;
  
  background: #1c1c1c;
  background: -moz-linear-gradient(top,  #1c1c1c 0%, #2e2f30 50%, #1c1c1c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c1c1c), color-stop(50%,#2e2f30), color-stop(100%,#1c1c1c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1c1c1c 0%,#2e2f30 50%,#1c1c1c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1c1c1c 0%,#2e2f30 50%,#1c1c1c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1c1c1c 0%,#2e2f30 50%,#1c1c1c 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1c1c1c 0%,#2e2f30 50%,#1c1c1c 100%); /* W3C */
  
  img {
    width: 400px;
    margin-left:auto;
    margin-right:auto;
    padding-top:20px;
    display:block;
  }
  
  h1 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .50);
    font-size: 50pt;
    margin-bottom:10px;
    margin-top: 30px;
  }
  
  a {
    display:inline-block;
    width: 160px;
    height: 25px;
    border: 1px solid #aaa;
    border-radius: 6px;
    padding: 10px;
    margin: 10px 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  }
  
  a, a:hover, a:visited {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .75);
    margin-top: 40px;
  }
  
  #to_albums {
    background-color:#F79C0A;
    border-color: #633F01;
  }
  
  #to_edit {
    background-color:#0AB0F7;
    border-color: #014C8A;
  }
  
}

footer {
  color: #777;
  font-size:10pt;
}

footer, #push {
  height: 20px;
  clear:both;
}
