#tools_left article {
  width: 140px;
  padding: 0 5px 5px 5px;
  font: 10pt 'HammersmithOneRegular', Arial, sans-serif;
  color: #bbb; }
  #tools_left article a, #tools_left article a:hover, #tools_left article a:visited {
    text-decoration: none;
    color: #bbb; }

#tools_left header {
  position: relative;
  height: 24px;
  padding-top: 11px;
  padding-left: 50px;
  margin: 5px 0 0 0;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1); }
  #tools_left header .header_icon {
    position: absolute;
    width: 28px;
    left: 12px;
    top: 3px; }

#background header {
  background: #2c4e00;
  background: -moz-linear-gradient(top, #6b9401 0%, #2c4e00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6b9401), color-stop(100%, #2c4e00));
  background: -webkit-linear-gradient(top, #6b9401 0%, #2c4e00 100%);
  background: -o-linear-gradient(top, #6b9401 0%, #2c4e00 100%);
  background: -ms-linear-gradient(top, #6b9401 0%, #2c4e00 100%);
  background: linear-gradient(to bottom, #6b9401 0%, #2c4e00 100%); }

#utilities header {
  background: #530410;
  background: -moz-linear-gradient(top, #f82626 0%, #530410 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f82626), color-stop(100%, #530410));
  background: -webkit-linear-gradient(top, #f82626 0%, #530410 100%);
  background: -o-linear-gradient(top, #f82626 0%, #530410 100%);
  background: -ms-linear-gradient(top, #f82626 0%, #530410 100%);
  background: linear-gradient(to bottom, #f82626 0%, #530410 100%); }

#collapse_on_l {
  width: 150px;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #444;
  padding-bottom: 0px;
  height: 29px;
  text-align: center;
  color: #bbb; }
  #collapse_on_l img {
    height: 18px;
    padding-top: 4px; }

#collapsed_left img {
  height: 18px;
  margin-bottom: 5px;
  margin-left: 8px; }
#collapsed_left img:first-child {
  margin-top: 268px; }

#background ul {
  list-style-type: none;
  width: 100%;
  padding: 5px 0;
  margin: 0px; }
  #background ul li {
    padding: 10px 0 2px 0;
    height: 23px;
    text-align: center; }
    #background ul li button {
      display: block;
      width: 100px;
      margin: 3px auto; }
  #background ul li.bg_type:hover {
    color: #fff;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15);
    background: #333; }
  #background ul li:nth-child(2) {
    border-bottom: 1px solid #444;
    border-top: 1px solid #444; }
  #background ul li:last-child {
    padding-top: 0; }

#upload_background {
  visibility: hidden; }

#tools_left article a.selected {
  color: #6B9401;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15); }

#utilities .content {
  margin-top: 10px;
  margin-left: 8px; }
  #utilities .content div {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 5px;
    margin-bottom: 5px;
    background: none; }
    #utilities .content div:hover {
      -webkit-box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.3);
      -moz-box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.3);
      box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.3); }
    #utilities .content div img {
      width: 98%;
      height: 98%; }
      #utilities .content div img:hover {
        cursor: move; }
