$toolbar_width:150px;
$toolbar_height:600px;
$toolbar_padding: 5px;

$header_height: 24px;
$header_padding_top: 11px;
$header_padding_left: 50px;
$header_margin_top: 5px;

$arrow_height: 18px;
$button_collapse_height: 30px;


#tools_left article {
  width: $toolbar_width - 2*$toolbar_padding;
  padding: 0 $toolbar_padding $toolbar_padding $toolbar_padding;
  font: 10pt 'HammersmithOneRegular', Arial, sans-serif;
  color: #bbb;
  
  a, a:hover, a:visited {
    text-decoration:none;
    color: #bbb;
  }

}

#tools_left header {
  position:relative;
  height: $header_height;
  padding-top: $header_padding_top;
  padding-left: $header_padding_left;
  margin: $header_margin_top 0 0 0;
  text-shadow: 1px 1px 0px rgba(0,0,0, .2);
 
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
 
  -webkit-box-shadow: 0px 1px 0px rgba(0,0,0, .1), inset 0px 1px 0px rgba(255,255,255, .1);
  -moz-box-shadow: 0px 1px 0px rgba(0,0,0, .1), inset 0px 1px 0px rgba(255,255,255, .1);
  box-shadow: 0px 1px 0px rgba(0,0,0, .1), inset 0px 1px 0px rgba(255,255,255, .1);
  
  .header_icon {
    position:absolute;
    width:28px;
    left:12px;
    top:3px;
  }
}

$bg_grad_1: #6B9401;
$bg_grad_2: #2C4E00;
#background header {
  background: $bg_grad_2;
  background: -moz-linear-gradient(top,  $bg_grad_1 0%, $bg_grad_2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$bg_grad_1), color-stop(100%,$bg_grad_2));
  background: -webkit-linear-gradient(top,  $bg_grad_1 0%,$bg_grad_2 100%);
  background: -o-linear-gradient(top,  $bg_grad_1 0%,$bg_grad_2 100%);
  background: -ms-linear-gradient(top,  $bg_grad_1 0%,$bg_grad_2 100%);
  background: linear-gradient(to bottom, $bg_grad_1 0%,$bg_grad_2 100%);
}

$bg_grad_1: #F82626;
$bg_grad_2: #530410;
#utilities header {
  background: $bg_grad_2;
  background: -moz-linear-gradient(top,  $bg_grad_1 0%, $bg_grad_2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$bg_grad_1), color-stop(100%,$bg_grad_2));
  background: -webkit-linear-gradient(top,  $bg_grad_1 0%,$bg_grad_2 100%);
  background: -o-linear-gradient(top,  $bg_grad_1 0%,$bg_grad_2 100%);
  background: -ms-linear-gradient(top,  $bg_grad_1 0%,$bg_grad_2 100%);
  background: linear-gradient(to bottom, $bg_grad_1 0%,$bg_grad_2 100%);
}

#collapse_on_l {
  width: $toolbar_width;
  position:absolute;
  bottom: 0px;
  border-top: 1px solid #444;
  padding-bottom: 0px;
  height:$button_collapse_height - 1;
  text-align: center;
  color: #bbb;
  img {
    height:$arrow_height;
    padding-top:4px;
  }
}

#collapsed_left {
  img {
    height: $arrow_height;
    margin-bottom:5px;
    margin-left:8px;
  }
  img:first-child {
    margin-top: ($toolbar_height - 3*$arrow_height - 2*5)/2;
  }
}


#background ul {
  list-style-type: none;
  width:100%;
  padding:5px 0;
  margin:0px;
  li {
    padding: 10px 0 2px 0;
    height:23px;
    text-align:center;
    button {
      display:block;
      width:100px;
      margin: 3px auto;
    }
  }
  li.bg_type:hover {
      color:#fff;
      text-shadow: 0px 1px 0px rgba(255,255,255, .15);
      background:#333;
  }
  li:nth-child(2) {
    border-bottom: 1px solid #444;
    border-top: 1px solid #444;
  }
  li:last-child {
    padding-top:0;
  }
}

#upload_background {
  visibility:hidden;
}

#tools_left article a.selected {
  color: #6B9401;
  text-shadow: 0px 1px 0px rgba(255,255,255, .15);

}


#utilities .content {
  margin-top:10px;
  margin-left:8px;
  div {
    float:left;
    width:60px;
    height:60px;
    margin-right:5px;
    margin-bottom:5px;
    background: none;
    &:hover {
      -webkit-box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, .3);
      -moz-box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, .3);
      box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, .3);
    }
    
    img {
      width:98%;
      height:98%;
      &:hover {
        cursor:move;
      }
    }
  }
}
