$nav_text_color:#999;
$nav_title_color:#eee;
$nav_bg_color: #222;
$nav_separator_color: #444; 
$nav_hover_color: #fff;
$nav_hover_bgcolor: #222;

header {
  font-family:'HammersmithOneRegular', Arial, sans-serif;
  margin-bottom: 20px;
  
  a, a:hover, a:visited {
    text-decoration: none;
    color: $nav_text_color;
  }
  
  
  nav {
    margin: 0; 
    width:100%;
    height:40px;
    
    background: $nav_bg_color; /* Old browsers */
    background: -moz-linear-gradient(top,  #494949 0%, #1c1c1c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#494949), color-stop(100%,#1c1c1c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #494949 0%,#1c1c1c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #494949 0%,#1c1c1c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #494949 0%,#1c1c1c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #494949 0%,#1c1c1c 100%); /* W3C */
    color: $nav_text_color;
    ul {
      padding:0px 10px;
      margin-top: 0;
      list-style-type: none;
      
      li {
        padding-top:12px;
        padding-bottom:8px;
        height:20px;
        display: inline-block;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, .75);
        
        a {
          display: block;
          height: 100%;
          width: 100%;
        }

        &#title {
          font-size: 15pt;
          color:$nav_title_color;
          padding-top:9px;
        }
        
        &#brand {
          text-shadow: 1px 1px 4px rgba(0, 0, 0, .75);
        }
        
        &.stick_right {
          font-size: 11pt;
          
          &:hover:not(:nth-child(3)), &.this_page {
            a {
             color: $nav_hover_color; 
            }
            background-color: $nav_hover_bgcolor;
          }
          float:right;
          padding-left:15px;
          padding-right:15px;
          border-left: 1px solid $nav_separator_color;
        }
      }
    }
  }
}

// MARGIN DEL BRAND
@media (max-width: 979px) {
  #brand {
    margin-right:5%;
  }
  header nav ul li {
    
    &#title {
      font-size: 12pt;
    }
    
    &.stick_right {
      font-size: 10pt;
      padding-left:7px;
      padding-right:7px;
      height:18px;
      padding-top: 14px;
    }
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  #brand {
    margin-right:10%;
  }
}

@media (min-width: 1200px) {
  #brand {
    margin-right:17%;
  }
}
