.accordion, .accordion div, .accordion h1, .accordion p, .accordion a, .accordion img, .accordion span, .accordion em, .accordion ul, .accordion li {
  margin: 0;
  padding: 0;
  border: none; }

.accordion {
  width: 242px;
  padding: 1px 5px 5px 5px;
  background: #1c1c1c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.accordion .tab {
  position: relative;
  display: block;
  height: 24px;
  margin-top: 4px;
  padding-left: 50px;
  padding-top: 11px;
  font: 10pt 'HammersmithOneRegular', Arial, sans-serif;
  text-decoration: none;
  color: #bbb;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1); }

.accordion #tab-1 .tab {
  background: #132953;
  background: -moz-linear-gradient(top, #375cbd 0%, #132953 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #375cbd), color-stop(100%, #132953));
  background: -webkit-linear-gradient(top, #375cbd 0%, #132953 100%);
  background: -o-linear-gradient(top, #375cbd 0%, #132953 100%);
  background: -ms-linear-gradient(top, #375cbd 0%, #132953 100%);
  background: linear-gradient(to bottom, #375cbd 0%, #132953 100%); }

.accordion #tab-2 .tab {
  background: #72225f;
  background: -moz-linear-gradient(top, #df5ac9 0%, #72225f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #df5ac9), color-stop(100%, #72225f));
  background: -webkit-linear-gradient(top, #df5ac9 0%, #72225f 100%);
  background: -o-linear-gradient(top, #df5ac9 0%, #72225f 100%);
  background: -ms-linear-gradient(top, #df5ac9 0%, #72225f 100%);
  background: linear-gradient(to bottom, #df5ac9 0%, #72225f 100%); }

.accordion #tab-3 .tab {
  background: #04425a;
  background: -moz-linear-gradient(top, #4a9ce9 0%, #04425a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4a9ce9), color-stop(100%, #04425a));
  background: -webkit-linear-gradient(top, #4a9ce9 0%, #04425a 100%);
  background: -o-linear-gradient(top, #4a9ce9 0%, #04425a 100%);
  background: -ms-linear-gradient(top, #4a9ce9 0%, #04425a 100%);
  background: linear-gradient(to bottom, #4a9ce9 0%, #04425a 100%); }

.accordion .tab .tab_logo {
  position: absolute;
  width: 28px;
  top: 3px;
  left: 12px; }

.accordion .tab:hover,
.accordion div:target .tab {
  color: #fff;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.45);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.45);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.45); }

.accordion div .content {
  display: none;
  margin: 5px 0; }

.accordion div:target .content {
  display: block;
  overflow-y: scroll;
  height: 454px; }

.accordion > div {
  height: 40px;
  overflow: hidden;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.accordion > div:target {
  height: 484px; }

#acc_suggestion {
  position: absolute;
  bottom: 200px;
  width: 252px;
  text-align: center;
  color: #bbb;
  font: 12pt 'HammersmithOneRegular', Arial, sans-serif;
  z-index: -1; }

#collapse_on_r {
  width: 252px;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #444;
  padding-bottom: 0px;
  height: 29px;
  text-align: center;
  color: #bbb; }
  #collapse_on_r img {
    height: 18px;
    padding-top: 4px; }

#collapsed_right img {
  height: 18px;
  margin-bottom: 5px;
  margin-left: 8px; }
#collapsed_right img:first-child {
  margin-top: 268px; }

.accordion .content > div {
  position: relative;
  overflow: hidden;
  float: left;
  width: 70px;
  height: 70px;
  margin: 0 3px 5px 2px; }
  .accordion .content > div img {
    position: absolute;
    height: 90px;
    top: -8px;
    left: -22px; }
    .accordion .content > div img:hover {
      cursor: move; }
  .accordion .content > div:hover {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.3); }
