$side_toolbars_width: 252px;
$side_padding: 5px;
$top_padding: 1px;
$bottom_padding: 5px;
$accordion_width: $side_toolbars_width - 2*$side_padding;
$toolbar_height: 600px;
$button_collapse_height: 30px;

$collapsed_tab: 40px;
$open_tab_height: $toolbar_height - $top_padding - $bottom_padding - 2*$collapsed_tab - $button_collapse_height;

$bg_color: #1c1c1c;

$arrow_height: 18px;

.accordion,.accordion div,.accordion h1,.accordion p,.accordion a,.accordion img,.accordion span,.accordion em,.accordion ul,.accordion li {
    margin: 0;
    padding: 0;
    border: none;
}

.accordion {
    width: $accordion_width;
    padding: $top_padding $side_padding $bottom_padding $side_padding;
    background: $bg_color;
 
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

//every tab
.accordion .tab {
    position:relative;
    display: block;
    height: 24px;
    margin-top: 4px;
    padding-left: 50px;
    padding-top:11px;
    font: 10pt 'HammersmithOneRegular', Arial, sans-serif;
    text-decoration: none;
    color: #bbb;
 
    text-shadow: 1px 1px 0px rgba(0,0,0, .2);
 
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
 
    -webkit-box-shadow: 0px 1px 0px rgba(0,0,0, .1), inset 0px 1px 0px rgba(255,255,255, .1);
    -moz-box-shadow: 0px 1px 0px rgba(0,0,0, .1), inset 0px 1px 0px rgba(255,255,255, .1);
    box-shadow: 0px 1px 0px rgba(0,0,0, .1), inset 0px 1px 0px rgba(255,255,255, .1);
}

$t_1_gr1:#375CBD;
$t_1_gr2:#132953;
.accordion #tab-1 .tab {
  background: $t_1_gr2;
  background: -moz-linear-gradient(top,  $t_1_gr1 0%, $t_1_gr2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$t_1_gr1), color-stop(100%,$t_1_gr2));
  background: -webkit-linear-gradient(top,  $t_1_gr1 0%,$t_1_gr2 100%);
  background: -o-linear-gradient(top,  $t_1_gr1 0%,$t_1_gr2 100%);
  background: -ms-linear-gradient(top,  $t_1_gr1 0%,$t_1_gr2 100%);
  background: linear-gradient(to bottom,  $t_1_gr1 0%,$t_1_gr2 100%);
}

$t_2_gr1:#DF5AC9;
$t_2_gr2:#72225F;
.accordion #tab-2 .tab {
  background: $t_2_gr2;
  background: -moz-linear-gradient(top,  $t_2_gr1 0%, $t_2_gr2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$t_2_gr1), color-stop(100%,$t_2_gr2));
  background: -webkit-linear-gradient(top,  $t_2_gr1 0%,$t_2_gr2 100%);
  background: -o-linear-gradient(top,  $t_2_gr1 0%,$t_2_gr2 100%);
  background: -ms-linear-gradient(top,  $t_2_gr1 0%,$t_2_gr2 100%);
  background: linear-gradient(to bottom,  $t_2_gr1 0%,$t_2_gr2 100%);
}

$t_3_gr1:#4A9CE9;
$t_3_gr2:#04425A;
.accordion #tab-3 .tab {
  background: $t_3_gr2;
  background: -moz-linear-gradient(top,  $t_3_gr1 0%, $t_3_gr2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$t_3_gr1), color-stop(100%, $t_3_gr2));
  background: -webkit-linear-gradient(top,  $t_3_gr1 0%, $t_3_gr2 100%);
  background: -o-linear-gradient(top,  $t_3_gr1 0%, $t_3_gr2 100%);
  background: -ms-linear-gradient(top, $t_3_gr1 0%, $t_3_gr2 100%);
  background: linear-gradient(to bottom, $t_3_gr1 0%, $t_3_gr2 100%);
}

.accordion .tab .tab_logo {
  position: absolute;
  width: 28px;
  top: 3px;
  left:12px;
}

//hover or selected tab
.accordion .tab:hover,
.accordion div:target .tab {
    color: #fff;
 
    text-shadow: 0px 1px 0px rgba(255,255,255, .15);
 
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .3), inset 1px 1px 1px rgba(255,255,255, .45);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .3), inset 1px 1px 1px rgba(255,255,255, .45);
    box-shadow: 1px 1px 1px rgba(0,0,0, .3), inset 1px 1px 1px rgba(255,255,255, .45);
}

.accordion div .content {
    display: none;
    margin: 5px 0;
}
 
.accordion div:target .content {
    display: block;
    overflow-y:scroll;
    height:$open_tab_height - $button_collapse_height;
}
 
.accordion > div {
  height: $collapsed_tab;
  overflow: hidden;
    
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
 
// TAB SELEZIONATI (DI DEFAULT IL PRIMO E' SELEZIONATO)
.accordion > div:target {
    height: $open_tab_height;
}

//CONTENUTI ED EXTRA

#acc_suggestion {
  position:absolute;
  bottom: 200px;
  width: $side_toolbars_width;
  text-align: center;
  color: #bbb;
  font: 12pt 'HammersmithOneRegular', Arial, sans-serif;
  z-index:-1;
}

#collapse_on_r {
  width: $side_toolbars_width;
  position:absolute;
  bottom: 0px;
  border-top: 1px solid #444;
  padding-bottom: 0px;
  height:$button_collapse_height - 1;
  text-align: center;
  color: #bbb;
  img {
    height:$arrow_height;
    padding-top:4px;
  }
}

#collapsed_right {
  img {
    height: $arrow_height;
    margin-bottom:5px;
    margin-left:8px;
  }
  img:first-child {
    margin-top: ($toolbar_height - 3*$arrow_height - 2*5)/2;
  }
}

.accordion .content > div {
  position:relative;
  overflow:hidden;
  float:left;
  width:70px;
  height:70px;
  margin: 0 3px 5px 2px;
  
  img {
    position: absolute;
    height: 90px;
    top: -8px;
    left: -22px;
    &:hover {
      cursor:move;
    }
  }
  &:hover {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, .3);
    -moz-box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, .3);
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, .3);
  }
}
